<div class="row" style="margin-top: 300px;">
    <div class="col-lg-4">
      <div class="bs-component">
        <figure>
          <blockquote class="blockquote">
            <p class="mb-0">“You don’t play for the crowd, You Play for the Country.”</p>

          </blockquote>
          <figcaption class="blockquote-footer">
            M S <cite title="Source Title">Dhoni</cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <figure class="text-center">
          <blockquote class="blockquote">
            <p class="mb-0">“I hate losing and cricket being my first love, once I enter the ground it’s a different zone altogether and that hunger for winning is always there.”</p>

          </blockquote>
          <figcaption class="blockquote-footer">
            Sachin <cite title="Source Title">Tendulkar</cite>
          </figcaption>
        </figure>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="bs-component">
        <figure class="text-end">
          <blockquote class="blockquote">
            <p class="mb-0">“There are so many fans and so many people who care deeply about this game, and it is because of these fans that we are who we are as cricketers.”</p>

          </blockquote>
          <figcaption class="blockquote-footer">
            Rahul <cite title="Source Title">Dravid</cite>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>